.profilemain {
    display: flex;
    height: 100vh;
    width: 100%;
    margin-top: 43px;
}


.profilebar {
    margin-top: 99px;
    margin-left: 111px;
    width: 285px;
    height: 840px;
    background-color: rgba(77, 70, 42, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex: 0 0 25%;
}


.imageprofile {
    border-radius: 50%;
    display: block;
    margin: -64px auto;
}


.profileinfo {
    padding-top: 88px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 49px;
    width: 285px;
}

.profileinfo h3 {
    font-weight: 500;
    color: white;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.profilebutton button {
    width: 232px;
    height: 34px;
    display: block;
    margin: 15px auto auto 0px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(77, 70, 42, 1);
    cursor: pointer;
}

.innerinfo h5 {
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
}

.links {
    text-decoration: none;
}

.innercontainer h3 {
    font-size: 32px;
    font-weight: 400;
    color: rgba(77, 70, 42, 1);
    margin: 14px 0px 0px 0px;
}

.portfoliomedia {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.portfoliomedia img {
    border-radius: 20px;
}

.reviewcontainer {
    margin-top: 57px;
}

.maininfo {
    margin-top: 43px;
    margin-left: 44px;
}

.innerreview {
    width: 852px;
    height: 221px;
    border-radius: 20px;
    background-color: rgba(239, 239, 239, 1);
    display: flex;
    flex-direction: row;
}

.innerreview img {
    margin-left: 23px;
    margin-top: 18px;
    width: 55px;
    height: 55px;
}


.reviewinfo {
    margin-left: 23px;
    width: 731px;
    height: 71px;
    line-height: 16px;
}

.innercontainer {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 75px;
    width: 907px;
}

.reviewinfo h4 {
    font-size: 18px;
    font-weight: 400;
}

.reviewinfo p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.reviewinfo h5 {
    font-size: 18px;
    font-weight: 400;
}

.stars {
    font-size: 160%;
    color: yellow;
}

.swipermedia {
    display: flex;
    gap: 23px;
}

.aboutbusiness {
    width: 900px;
    height: 120px;
}

.aboutbusiness h3 {
    font-size: 32px;
    font-weight: 400;
    margin: 43px 0px 0px 0px;
}

.aboutbusiness p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    margin: 4px 0px 0px 0px;
}

.prevWork {
    width: 907px;
    height: 372px;
}

.prevWork h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
}

.innerwork {
    display: grid;
    grid-template-columns: 150px 716px;
    margin-bottom: 24px;
    margin-top: 40px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: rgba(77, 70, 42, 1);
}

.infos h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 0;
}

.infos p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

hr {
    border: 1px solid rgb(48, 47, 47);
}

.reviews {
    display: flex;
    flex-direction: column;
}

.infos h4,
h5,
p {
    margin: 0;
}

.reviewstars {
    width: 125px;
    height: 26px;
}

.editabout {
    display: flex;
    flex-direction: column;
    margin-top: 94px;
    margin-left: 41px;
}

.editabout h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
}

.edittext input {
    width: 921px;
    height: 142px;
    border: 1px solid rgba(153, 153, 153, 1);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 20px;
}
