.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(8, 7, 43, 1);
  width: 100%;
  height: 75px;
  margin: 0;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo{
  width: 166px;
  height: 75px;
  margin-left: 30px;
}

.webName{
  font-family: "Potta One";
  color: rgba(170, 126, 81, 1);
  font-size: 32px;
}

.navbar a{
  text-decoration: none;
  color: white;
  margin-right: 50px;
}

.navbar a:hover{
  color: rgba(170, 126, 81, 1);
  transition: 0.2s;
}

.navbar p {
  font-weight: 700;
  font-size: 20px;
  margin-left: 40px;
}

.notifIcon{
  width: 24px;
  height: 24px;
  cursor: pointer;
}


.leftSide{
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
}



