.container {
  display: flex;
}


.mainContent {
  margin: auto;
  margin-top: 110px;
  max-width: 1000px;
}

.businessDashboard {
  margin: 110px 0 0 370px !important; 
  max-width: calc(100% - 370px) !important; 
}
.searchBar {
  width: 680px;
  height: 46px;
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid silver;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.searchBar input {
  border: none;
  width: 100%;
  outline: none;
}

.searchBar input::placeholder {
  font-family: "Poppins";
  font-size: 16px;
}

.searchBar img {
  margin-left: 8px;
  margin-right: 10px;
}


.banner{
  display: flex;
  justify-content: space-between;
  background-color: rgba(8, 7, 43, 1);
  border-radius: 6px;
  margin-bottom: 32px;
  max-width: 1000px;
  width: 990px;
}

.banner p{
  font-size: 32px;
  color: white;
  width: 430px;
  margin-top: 35px;
  margin-left: 35px;
}

.bannerDiv{
  display: flex;
}

.section {
  width: 100%;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  margin-bottom: 20px;
}


.headline p {
  font-size: 20px;
  font-weight: 600;
}

.headline a {
  text-decoration: none;
  color: rgba(234, 67, 53, 1);

}

.card {
  flex: 0 0 auto;
  min-width: 316px;
  width: 316px;
  flex-shrink: 0;
  height: 322px;
  border: 1px solid silver;
  border-radius: 5px;
  scroll-snap-align: start; 
}

.description {
  display: flex;
  flex-direction: column;
  padding: 6px 12px;
}

.description h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.postTime {
  font-size: 14px;
  color: rgba(153, 153, 153, 1);
  margin: 0;
}

.description button {
  background-color: rgba(234, 67, 53, 1);
  color: white;
  font-family: "Poppins";
  border: none;
  border-radius: 5px;
  width: 284px;
  height: 34px;
  margin-top: 6px;
  cursor: pointer;
}

.description button:hover{
opacity: 0.8;
transition: 0.2s;
}

.location{
  margin: 0;
}
.cardSection {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: calc(316px * 3 + 60px); 
  margin: 0 ;
  margin-bottom: 57px;
}
