.sideContainer {
  margin-top: 68px;
  /* position: absolute; */
  left: 0;
  width: 245px;
  background-color: rgba(244, 244, 244, 1);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 45px;
}

.container {
  display: flex;
}

.sideFiltersSection h2 {
  font-weight: 600;
  font-size: 20px;
}

.filterSection h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.filterSection {
  margin-bottom: 20px;
}

.sideMain {
  margin: auto;
  margin-top: 88px;
  width: 80%;
}

.mainContent {
  margin: auto;
  width: 80%;
}

.searchBar {
  width: 680px;
  height: 46px;
  border: 1px solid silver;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.searchBar input {
  border: none;
  width: 100%;
  outline: none;
}

.searchBar input::placeholder {
  font-family: "Poppins";
  font-size: 16px;
}

.searchBar img {
  margin-left: 8px;
  margin-right: 10px;
}

.section {
  width: 100%;
}


.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.headline p {
  font-size: 20px;
  font-weight: 600;
}

.headline a {
  text-decoration: none;
  color: rgba(170, 126, 81, 1);
}

.card {
  flex: 0 0 auto;
  min-width: 316px;
  width: 316px;
  flex-shrink: 0;
  height: 322px;
  border: 1px solid silver;
  border-radius: 5px;
  scroll-snap-align: start; 
}

.description {
  display: flex;
  flex-direction: column;
  padding: 6px 12px;
}

.description h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.postTime {
  font-size: 14px;
  color: rgba(153, 153, 153, 1);
  margin: 0;
}

.description button {
  background-color: rgba(77, 70, 42, 1);
  color: white;
  font-family: "Poppins";
  border: none;
  border-radius: 5px;
  width: 284px;
  height: 34px;
  margin-top: 6px;
  cursor: pointer;
}

.description button:hover{
opacity: 0.8;
transition: 0.2s;
}

.location{
  margin: 0;
}
.cardSection {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* padding: 20px; */
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: calc(316px * 3 + 60px); 
  margin: 0 ;
}

.cardSectionWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  /* max-width: 1048px; */
  margin: 0 auto;
}

.scrollButtonLeft, .scrollButtonRight {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: inherit;
  border: none ;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollButtonLeft:hover, .scrollButtonRight:hover {
  opacity: 0.8;
}

.scrollButtonLeft {
  position: relative;
  left: 0; 
}

.scrollButtonRight {
  position: relative;
  right: 0; 
} 
.cardSection::-webkit-scrollbar {
  display: none;
}

.cardSection {
  -ms-overflow-style: none;
  scrollbar-width: none;  
}

