.wrapper {
  width: 988px;
  padding:0;
  margin-bottom: 57px;
}

.cardSectionWrapper {
  position: relative;
  max-width: 988px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.sponsorSection {
  width: 100%;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth; 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.sponsorTrack {
  display: flex;
  gap: 42px;
  transition: transform 0.3s ease;
  scroll-behavior: smooth;
}

.sponsorItem {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsorItem img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.scrollButtonLeft,
.scrollButtonRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: inherit;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scrollButtonLeft:hover,
.scrollButtonRight:hover {
  background: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scrollButtonLeft {
  left: -20px;
}

.scrollButtonRight {
  right: -20px;
}

.scrollButtonLeft img,
.scrollButtonRight img {
  width: 24px;
  height: 24px;
}